.idea/
app/app.iml
.gradle/
app/.cxx/
app/.externalNativeBuild/
app/build/
app/release/
local.properties
.metals
.bloop
build
*.keystore
*.pepk
Gemfile*
fastlane/report.xml
fastlane/Appfile
app/src/main/assets/graph.snapshot-mainnet.zlib
